@page "/all-foods-page"

<PageTitle>Delivery Page</PageTitle>

<div class="container mx-auto px-4 py-7">
    <h2 class="text-2xl font-bold">@(h2Food ?? "Todos os Produtos") 🍟</h2>

    <div class="sm:flex-row sm:items-end mb-6 mt-2">
        <select id="foodFilter" class="max-w-sm mx-auto bg-white border border-gray-200 text-black text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 w-40 px-2 py-1.5 " @onchange="changeH2Name">
            <option value="Todos Produtos">Todos Produtos</option>
            @foreach(var type in typeFoods){
                <option value="@type">@type</option>
            }
        </select>
    </div>

    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
        @foreach (var food in foods)
        {
            <NavLink href="@($"/food-details/home")" class="block group transition-transform duration-300 transform hover:scale-[1.01] hover:shadow-xl rounded-xl overflow-hidden">
                <div class="bg-white border border-gray-200 rounded-xl shadow group-hover:shadow-xl group-hover:scale-[1.01] transition-all duration-300">
                    <div class="relative">
                        <img src="@food.ImageUrl" alt="@food.Name" class="w-full h-48 object-cover" />
                
                    </div>
                    <div class="p-4">
                        <h3 class="text-lg font-bold text-gray-800 mb-1">@food.Name</h3>
                        <p class="text-sm text-gray-600 mb-3">@food.Description</p>
                        <div class="flex items-center mb-3">
                            <div class="flex text-yellow-400">
                                @for (int i = 0; i < 4; i++)
                                {
                                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                }
                                <svg class="w-4 h-4 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                </svg>
                            </div>
                        </div>
                        @if(food.descountedPrice != 0){
                            <span  class="text-xl font-semibold text-gray-500 line-through">R$@food.descountedPrice.ToString("N2") </span>
                            <span>•</span>
                        }
                        <span class="text-xl font-semibold text-green-500">  R$@food.Price.ToString("N2")</span>
                    </div>
                </div>
            </NavLink>
        }
    </div>
</div>


@code {
    private List<Food> foods = new()
    {
        new Food { Name = "Pizza", Price=50.70 , descountedPrice =70.50 , Description = "Pizza Rechada com caputiry" , ImageUrl ="https://imgs.search.brave.com/pVOxl6h5rJTyFNB5osu_G8pNEPZGtHez8KM3vzGVUwc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi85LzkxL1Bp/enphLTMwMDczOTUu/anBnLzUxMnB4LVBp/enphLTMwMDczOTUu/anBn"},
        new Food { Name = "Hambúrguer",Price=50.30, descountedPrice = 80.00,Description = "Pizza Rechada com caputiry" , ImageUrl ="https://imgs.search.brave.com/xMBL0QeuIXT1KLKiMSObqVmFhiHKjJcLVD8QlYkjqvI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jYXJh/cHJldGEudnRleGFz/c2V0cy5jb20vYXJx/dWl2b3MvaWRzLzE1/NTUzMy04MDAtYXV0/bz92PTYzODU1MjA5/MDUzODgwMDAwMCZ3/aWR0aD04MDAmaGVp/Z2h0PWF1dG8mYXNw/ZWN0PXRydWU"},
        new Food { Name = "Sushi", Price=50.40 ,  Description = "Pizza Rechada com caputiry" , ImageUrl = "https://imgs.search.brave.com/_pgC_Or1Q8BMq_gp8sW9OXx55Ra40phvH8IN_bMYzSA/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNDkx/Njk2MzUwL3B0L2Zv/dG8vcmV0cmF0by1k/ZS11bS12ZXJkYWRl/aXJvLWphcG9uJUMz/JUFBcy1ob21lbS1j/b20tY2FiZWxvLXBy/ZXRvLmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz14Mktaa1R3/S0sxTmh4S3NMMS1M/NGRaM3J5YjBKQmdT/Y24wTTdpblo2QVJJ/PQ" },
        new Food { Name = "Lilfil", Price=4.40 , Description = "Pizza Rechada com caputiry" , ImageUrl = "https://brasil.perfil.com/wp-content/uploads/2022/10/indiano-se-torna-o-mais-jovem-a-vencer-campeao-mundial-de-xadrez.jpg" },
        new Food { Name = "Pizza", Price=50.70 , Description = "Pizza Rechada com caputiry" , ImageUrl ="https://imgs.search.brave.com/pVOxl6h5rJTyFNB5osu_G8pNEPZGtHez8KM3vzGVUwc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi85LzkxL1Bp/enphLTMwMDczOTUu/anBnLzUxMnB4LVBp/enphLTMwMDczOTUu/anBn"},
        new Food { Name = "Hambúrguer",Price=50.30, Description = "Pizza Rechada com caputiry" , ImageUrl ="https://imgs.search.brave.com/xMBL0QeuIXT1KLKiMSObqVmFhiHKjJcLVD8QlYkjqvI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jYXJh/cHJldGEudnRleGFz/c2V0cy5jb20vYXJx/dWl2b3MvaWRzLzE1/NTUzMy04MDAtYXV0/bz92PTYzODU1MjA5/MDUzODgwMDAwMCZ3/aWR0aD04MDAmaGVp/Z2h0PWF1dG8mYXNw/ZWN0PXRydWU"},
        new Food { Name = "Pizza", Price=50.70, descountedPrice = 87.90, Description = "Pizza Rechada com caputiry" , ImageUrl ="https://imgs.search.brave.com/pVOxl6h5rJTyFNB5osu_G8pNEPZGtHez8KM3vzGVUwc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi85LzkxL1Bp/enphLTMwMDczOTUu/anBnLzUxMnB4LVBp/enphLTMwMDczOTUu/anBn"},
        new Food { Name = "Hambúrguer",Price=50.30, Description = "Pizza Rechada com caputiry" , ImageUrl ="https://imgs.search.brave.com/xMBL0QeuIXT1KLKiMSObqVmFhiHKjJcLVD8QlYkjqvI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jYXJh/cHJldGEudnRleGFz/c2V0cy5jb20vYXJx/dWl2b3MvaWRzLzE1/NTUzMy04MDAtYXV0/bz92PTYzODU1MjA5/MDUzODgwMDAwMCZ3/aWR0aD04MDAmaGVp/Z2h0PWF1dG8mYXNw/ZWN0PXRydWU"},
        new Food { Name = "Pizza", Price=50.70 , Description = "Pizza Rechada com caputiry" , ImageUrl ="https://imgs.search.brave.com/pVOxl6h5rJTyFNB5osu_G8pNEPZGtHez8KM3vzGVUwc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi85LzkxL1Bp/enphLTMwMDczOTUu/anBnLzUxMnB4LVBp/enphLTMwMDczOTUu/anBn"},
        new Food { Name = "Hambúrguer",Price=50.30, Description = "Pizza Rechada com caputiry" , ImageUrl ="https://imgs.search.brave.com/xMBL0QeuIXT1KLKiMSObqVmFhiHKjJcLVD8QlYkjqvI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jYXJh/cHJldGEudnRleGFz/c2V0cy5jb20vYXJx/dWl2b3MvaWRzLzE1/NTUzMy04MDAtYXV0/bz92PTYzODU1MjA5/MDUzODgwMDAwMCZ3/aWR0aD04MDAmaGVp/Z2h0PWF1dG8mYXNw/ZWN0PXRydWU"}
    };
   
    static string h2Food {get; set;} = null;
    static List<string> typeFoods = allTypes(); 
    public static List<string> allTypes()
    {
        return Enum.GetNames(typeof(TypeFood)).ToList();
    }
    
    public void changeH2Name(ChangeEventArgs e){
        
        if("Todos Produtos".Equals(e.Value?.ToString())){
            h2Food = null;
            return;
        }

        h2Food = h2Food = "Filtrando por: " + e.Value?.ToString() + "s";
    }
};

