@page "/delivery-page"
@inject DeliveryService deliveryService
@inject CartService cartService

<PageTitle>Delivery Page</PageTitle>

<div class="container mx-auto px-4 py-7">
    <h2 class="text-2xl font-bold">@(h2Food ?? "Todos os Produtos") 🍟</h2>

    <div class="sm:flex-row sm:items-end mb-6 mt-2">
        <select id="foodFilter" class="max-w-sm mx-auto bg-white border border-gray-200 text-black text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 w-40 px-2 py-1.5 " @onchange="changeFilter">
            @foreach(var type in typeFoods){
                <option value="@type">@type</option>
            }
        </select>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
        @foreach (var food in randomizeFoods)
        {
            if (typeFoods.Contains(food.Name))
            {
                <div class="cursor-pointer" @onclick="e => sendToCart(food)">
                    <NavLink  class="block group transition-transform duration-300 transform hover:scale-[1.01] hover:shadow-xl rounded-xl overflow-hidden">
                        <div class="bg-white border border-gray-200 rounded-xl shadow group-hover:shadow-xl group-hover:scale-[1.01] transition-all duration-300">
                            <div class="relative">
                                <img src="@food.ImageUrl" alt="@food.Name" class="w-full h-48 object-cover" />
                            </div>
                            <div class="p-4">
                                <h3 class="text-lg font-bold text-gray-800 mb-1">@food.Name</h3>
                                <p class="text-sm text-gray-600 mb-3">@food.Description</p>
                                <div class="flex items-center mb-3">
                                    <div class="flex text-yellow-400">
                                        @for (int i = 0; i < 4; i++)
                                        {
                                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                        }
                                        <svg class="w-4 h-4 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                        </svg>
                                    </div>
                                </div>
                                @if(food.descountedPrice != 0){
                                    <span class="text-xl font-semibold text-gray-500 line-through">R$@food.descountedPrice.ToString("N2") </span>
                                    <span>•</span>
                                }
                                <span class="text-xl font-semibold text-green-500"> R$@food.Price.ToString("N2")</span>
                            </div>
                        </div>
                    </NavLink>
                </div>
            }
            
            
        }
    </div>
</div>


@code {
    private static List<Food>? randomizeFoods;
    private List<Food>? foods;
    private string? h2Food;
    private List<string>? typeFoods;
    
    public void changeFilter(ChangeEventArgs e){

        string? eventValue = e.Value?.ToString();
        deliveryService.changeFilter(eventValue);

        foods = deliveryService.GetFoods();
        h2Food = deliveryService.GetH2();
        typeFoods = deliveryService.getTypeFoods();

        StateHasChanged();
    }

    public void sendToCart(Food food){
        cartService.AddToCart(food);
    }

    protected override void OnInitialized()
    {
        foods = deliveryService.GetFoods();
        h2Food = deliveryService.GetH2();
        typeFoods = deliveryService.getTypeFoods();
        randomizeFoods = foods.OrderBy(r => Guid.NewGuid()).ToList();

    }

}